body {
  /*background-image:url("The_Rookery.jpg") no-repeat;*/
  background: #charcoal;
}

/*h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  margin: 0px;
}*/

.primary {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color:#f2f2f2;
  margin: 10px;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
nav {
  padding: 15px;
  margin: 50px; auto
  width: 60%;
  font-family: 'Lalezar', cursive;
  font-size: 18px;
  color:#f2f2f2;
}

/*nav ul {
  direction: rtl;
}*/

nav ul li {
  /*float: right;*/
  list-style: none;
  padding-right: 10px;
  color:#f2f2f2;
  display:inline-block;
}


nav a .active {
    color:#f2f2f2;
}

a:visited {
  color:yellow;
}

a {
  text-decoration: none;
}

a:hover {
    text-decoration: none;
    color:red;
}

aside {
    /*background-color: #37BC9B;*/
    width:25%;
    float:left;
    margin-top: 200px;
    margin-left: 0;
    font-size: 24px;
    font-style: none;
}


main {
    float:left;
    width:50%;
    font-size:36px;
    /*clear:both;*/
}



.right-col {
    float:left;
    width:25%;
    /*background-color: #37BC9B;*/
}

.clear {
  clear:both;
}

p {
  font-family: 'Lobster', cursive;

}

.clearfix:before, .clearfix:after{
  content: " ";
  display: table;
  color: #f2f2f2;
}

.clearfix:after {
  clear: both;
}

.footer {
    text-align:center;
    font-family: 'Lalezar', cursive;
}
