body {
  /*background-image:url("Images/13516317_10102039740111637_7760622575619446067_n.jpg") no-repeat;*/
  background: #2be9d8;

}


h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
}

.primary {

  color:#f3982e;
}

nav {
font-family: 'Lobster', cursive;

}
